# exclude images from container, except images needed for the website
data/images_start/*
data/images_intermediate/*
data/images_end_pretty/*
data/images_end_ugly/*

# storage mount
storage_mount/*

# other crap
.git
.ipynb_checkpoints
