<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Good news... Bad news...</title>

    <script type="text/javascript" src="{{ url_for('static', filename='anime.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <script type="text/javascript" src="https://unpkg.com/scrollreveal@4"></script>

    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey">Welcome to Boom Chicago!</h3>
                <p class="subtitle has-text-grey">Set up an account. Login with Facebook an option. The show would like your basic public information from Facebook.</p>
                <div class="box">
                    <form action="/landing">
                        <div class="field">
                            <label class="label">What date are you coming to Boom Chicago? </label>
                            <div class="control">
                                <input class="input is-large" type="date" placeholder="DD-MM-YYYY">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="email" placeholder="Your Email" autofocus="">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="password" placeholder="Your Password">
                            </div>
                        </div>

                        <button class="button is-block is-info is-large is-fullwidth">Register</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class=footer">
    <div class="columns vcenter">
        <div class="column"></div>
        <div class="column">
            <figure class="image">
                <img src="/static/logo-boom-chicago.png">
            </figure>
        </div>
        <div class="column"></div>
        <div class="column">
            <figure class="image">
                <img src="/static/logo-datasciencelab.png">
            </figure>
        </div>
        <div class="column"></div>
    </div>
</footer>

<script>
    ScrollReveal().reveal('h3');
    ScrollReveal().reveal('p');
    ScrollReveal().reveal('.box');
</script>


</body>
</html>