<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript" src="{{ url_for('static', filename='anime.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <script type="text/javascript">
        var image = {{ data|tojson|safe }}['image'];
    </script>

    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
    $().ready(function() {
        displayPath();
    });

    function displayPath() {
        selectImage(image['url']);
    }
    </script>
</head>
<body>

<div class="container is-fluid">
    <div id="animation-container" class="has-text-centered"></div>
    <div id="results-container-ugly"></div>
    <div id="results-container-pretty"></div>
</div>

<div class="container is-fluid">
    <a href="/upload">Upload new picture</a><br>
</div>

<footer class=footer">
    <div class="columns vcenter">
        <div class="column"></div>
        <div class="column">
            <figure class="image">
                <img src="/static/logo-boom-chicago.png">
            </figure>
        </div>
        <div class="column"></div>
        <div class="column">
            <figure class="image">
                <img src="/static/logo-datasciencelab.png">
            </figure>
        </div>
        <div class="column"></div>
    </div>
</footer>

</body>
</html>