.image {
    margin: 0 auto;
}
.file.is-boxed .file-label {
    margin: 0 auto;
}

div.container,
div.columns {
    margin-top: 20px;
    margin-bottom: 20px;
}

figcaption {
    font-size: 80%;
    font-weight: bold;
    overflow-x: visible;
}

#animation-container {
  height:200px;
  width:200px;
  margin:auto;
}

#animation-container img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#animation-container img.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}