
div.container,
div.columns {
    margin-top: 10px;
    margin-bottom: 10px;
}

figcaption {
    font-size: 80%;
    font-weight: bold;
    overflow-x: visible;
}

#animation-container {
  height:200px;
  width:100%;
  margin:auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  -webkit-transition: height 1s ease-in-out;
  -moz-transition: height 1s ease-in-out;
  -o-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
}

#animation-container img {
  position:relative;
  left:0;
  width: 100px;
  height: 100px;

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#animation-container img.is-active {
  width: 200px;
  height: 200px;
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}

#animation-container img.was-active {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}

#results-container-pretty {
    margin-bottom: 50px;
}

footer {
    margin-top: 20px;
    height: 100px;
}
footer div.column {
    background-color: #eee;
}
footer .image img {
    height: 60px;
    width: auto;
}